<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.awani.registerrumor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".SplashScreen.SplashScreen"
            android:label="Welcome"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AboutUs.AboutUs"/>
        <activity android:name=".Home.View.HomeView"/>
        <activity android:name=".Contact.Contacts"/>
        <activity android:name=".Developers.Developers"/>
        <activity android:name=".Report.View.ReportView"
        />
        <activity android:name=".Register.View.RegisterView"/>
        <activity android:name=".Login.View.LoginView"/>
    </application>

</manifest>